* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.descuento {
    background-color: rgba(28, 209, 176, 1);
    padding: 10px;
    height: 3vh;
}

.header {
    background-color: rgba(0, 102, 159, 1);
    height: 7vh;
    padding: 20px;
    position: sticky; top: 0px;
    z-index: 50;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

footer {
    display: flex;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    height: 5vh;
    align-items: center;
    justify-content: center;
    position: fixed; bottom: 0px;
    width: 100vw;
    z-index: 50;
}

.git {
    width: 50px;
    position: absolute;
    right: 1vw;
}

footer > span {
    margin-left: 10px;
}

.nav {
    background-color: rgba(0, 29, 45, 1);
    padding-right: 5vh;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 5vh;
}

ul a{
    text-decoration: none;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 52vh;
    gap: 8px;
}

.add{
    width: 60vw;
    height: 65vh;
    text-align: center;
    background-color: rgba(0, 102, 159, 1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;

}

.add > form > div > input[type="text"], .add > form > div > input[type="date"], select {
    width: 25vw;
    height: 30px;
    border-radius: 15px;
    border: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
}

.poderes, .personaje {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25vw;
}

hr {
    width: 25vw;
}

textarea {
    width: 25vw;
    height: 22vh;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 52vh;
    margin-top: 10px;
}

input:file-upload-button {
    width: 25vw;
    border: none;
    border-radius: 10px;
}

label {
    text-align: start;
    color: white;

}

h2, span, h3 {
    color: white;
}

input[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    position: absolute; bottom: -30px;
    left: -150px;
    background-color: #1CD1B0;
    font-weight: bold;
    font-size: 1.5rem;

}

.col-2 {
    position: relative;
}